.CollegePage .attractive-heading {
  font-size: 2.5em;
  font-weight: bold;
  color: #bd453d;
  text-transform: uppercase;
  text-align: center !important;
  letter-spacing: 2px;
  margin: 20px auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
