#adminContent{
    background-color: white;
    height: 90vh !important;
    width: 100%;
    padding: 1rem 1rem;
}
.hamBtn{
    background-color: grey;
    color: white;
    border: 0;
    font-size: 1.5rem;
}
.offcanvas-body{
    padding: 6rem 0px;
}
.offcanvas-body button{
    width: 100% !important;
    font-size: 1.5rem;
    height: 5rem;
    padding: 0px 2rem;
}
.admin-header{
    background-color: #bd453d !important;
    color: white;
}